$site-title-font: 'Playfair Display', serif;
$primary-font: "Lora", serif;
$primary-font-size: clamp(1em, 1vw, 16px);
$primary-font-weight: 400;
$primary-line-height: 24px;

$h1-font-size: clamp(2em, 3vw, 30px)